extends layout
mixin gameCard(game, playStatus)
    div.gamecard__container
      img.gamecard__image(src=game.image)
      div.gamecard__text-container
        a(href=`/games/${game.id}`): .gamecard__game-title= game.title
        .gamecard__dropdown-container
          .gamecard__dropdown-form
            form()
              input(type="hidden" name='_csrf' value=csrfToken)
              input(type="hidden" name='gameId' value=game.id)
              select(name="status" value=playStatus)
                option(value='Not played' selected=playStatus==='Not Played' ? true : false) Not Played
                option(value='Want to Play' selected=playStatus==='Want to Play' ? true : false) Want to Play
                option(value="Playing" selected=playStatus==='Playing' ? true : false) Playing
                option(value="Played" selected=playStatus==='Played' ? true : false) Played
          .gamecard__rating-box
              .gamecard__rating= game.likesCount
              
append head
  link(rel="stylesheet" href="/stylesheets/categories.css")
  link(rel="stylesheet" href="/stylesheets/gamecard.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1.category-header= title
  div.category-container
    div.selected-category
      each game in games
        div.gameCards
          - playStatus=gameStatuses[game.id]
          +gameCard(game, playStatus)

    div
      div.categories-on-right
        h1 Category Links
        div
          div.other-categories
            a(href='/categories/1') Action & Adventure
          div.other-categories
            a(href='/categories/2') RPG & MMO
          div.other-categories
            a(href='/categories/3') Strategy & RTS
          div.other-categories
            a(href='/categories/4') Sports & Racing
          div.other-categories
            a(href='/categories/5') Casual & Simulation
