extends layout

append head
  link(rel="stylesheet" href="/stylesheets/gamePage.css")

block content
  div.game-page-container
    div.game-image
      img(src=`${game.image}`, alt="")
      div.sideCard
        div.game-info
          h4= game.developer
          h4(id="release")= game.releaseDate
          a(href=`${game.purchase}` class="purchase") Purchase Now
        div.game-rating
          h2 Ratings
          br
          h3= game.likesCount
    div.middleBox
      div.game-title-cat
        h1= title
        br
        h2= game.Category.category
      div.game-sum
        p= game.summary
  br
  div.write-reviews
    div
      button(class='review-button')
        a(href=`/games/${game.id}/review`) Add Review!
      //- each review in reviews
    br
  div.review-container
    if userReview
      .posted-reviews 
        h4= user.username 
        h3(id="reviewTitle")= userReview.title
        hr
        hr
        p= userReview.content

    each review in gameReviews
      div.posted-reviews
        h3(id="reviewTitle")= review.title
        hr
        p= review.content
