extends layout

mixin gameCard(gamesArray, indexPos, domain, playStatus)
    div.gamecard__container
      img.gamecard__image(src=gamesArray[indexPos].image)
      div.gamecard__text-container
        a(href=`/games/${gamesArray[indexPos].id}`): .gamecard__game-title= gamesArray[indexPos].title
        .gamecard__dropdown-container
          .gamecard__dropdown-form
            form(action=`/users/${formSubmitId}/mygames`, method="post")
              input(type="hidden" name='_csrf' value=csrfToken)
              input(type="hidden" name='gameId' value=gamesArray[indexPos].id)
              select(name="status" onchange='this.form.submit()' value=playStatus)
                option(value='Not played' selected=playStatus==='Not Played' ? true : false) Not Played
                option(value='Want to Play' selected=playStatus==='Want to Play' ? true : false) Want to Play
                option(value="Playing" selected=playStatus==='Playing' ? true : false) Playing
                option(value="Played" selected=playStatus==='Played' ? true : false) Played
          .gamecard__rating-box
              .gamecard__rating= gamesArray[indexPos].likesCount

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/gamecard.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content

    div.header-container
      img(src="/GGHeaderSketch.png" class="header")
      h1.header-context GoodGames

    div.games-container

      //- Popular Games
      div.games
        div
          h1.highest-games Highest Rated Games
        div.gameCards
          - for(var n = 0; n < 4; n++)
              - var playStatus = 'Not Played'
              if (gameStatuses[popularGames[n].title] !== undefined)
                - playStatus=gameStatuses[popularGames[n].title]
              +gameCard(popularGames, n, domain, playStatus)


        //- Action Games
        div
          a.games(href="/categories/1")
            h1.action-games Action & Adventure Games
        div.gameCards
          - for(var n = 0; n < 4; n++)
              - var playStatus = 'Not Played'
              if (gameStatuses[actionGames[n].title] !== undefined)
                - playStatus=gameStatuses[actionGames[n].title]
              +gameCard(actionGames, n, domain, playStatus)

        //- Strategy Games
        div
          a.games(href="/categories/3")
            h1.strategy-games Strategy & RTS Games
        div.gameCards
          - for(var n = 0; n < 4; n++)
              - var playStatus = 'Not Played'
              if (gameStatuses[strategyGames[n].title] !== undefined)
                - playStatus=gameStatuses[strategyGames[n].title]
              +gameCard(strategyGames, n, domain, playStatus)

        //- Casual Games
        div
          a.games(href="/categories/5")
            h1.casual-games Casual & Simulation Games
        div.gameCards
          - for(var n = 0; n < 4; n++)
              - var playStatus = 'Not Played'
              if (gameStatuses[casualGames[n].title] !== undefined)
                - playStatus=gameStatuses[casualGames[n].title]
              +gameCard(casualGames, n, domain, playStatus)

        //- Sports Games
        div
          a.games(href="/categories/4")
            h1.highest-games Sports & Racing Games
        div.gameCards
          - for(var n = 0; n < 4; n++)
              - var playStatus = 'Not Played'
              if (gameStatuses[sportsGames[n].title] !== undefined)
                - playStatus=gameStatuses[sportsGames[n].title]
              +gameCard(sportsGames, n, domain, playStatus)

        //- MMO Games
        div
          a.games(href="/categories/2")
            h1.mmo-games MMO & RPG Games
        div.gameCards
          - for(var n = 0; n < 4; n++)
              - var playStatus = 'Not Played'
              if (gameStatuses[mmoGames[n].title] !== undefined)
                - playStatus=gameStatuses[mmoGames[n].title]
              +gameCard(casualGames, n, domain, playStatus)


      div.categories
        h1 Category Links
        div
          div.other-categories
            a(href='/categories/1') Action & Adventure
          div.other-categories
            a(href='/categories/2') RPG & MMO
          div.other-categories
            a(href='/categories/3') Strategy & RTS
          div.other-categories
            a(href='/categories/4') Sports & Racing
          div.other-categories
            a(href='/categories/5') Casual & Simulation
