extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/gamecard.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    //- //- each game in games
    //- div.gamecard__container
    //-   //- Image
    //-   img.gamecard__image(src=game.image)
    //-   //- Overlay Text
    //-   div.gamecard__text-container
    //-     .gamecard__game-title= game.title
    //-     //- Placeholder for div mini form
    //-     .gamecard__dropdown-container
    //-       .gamecard__dropdown-form
    //-     //- Rating Box using likesCount
    //-     .gamecard__rating-box
    //-      .gamecard__rating= game.likesCount
    - var domain = `http://localhost:8080`

    div.header-container
      img(src="/GGHeaderSketch.png" class="header")
      h1.header-context GoodGames

    div.games-container

      div.games
        div
          h1.highest-games Highest Rated Games
        div.gameCards
          - for(var n = 0; n < 3; n++)
              div.gamecard__container
                //- Image
                a(href=`${domain}/games/${popularGames[n].id}`)
                  img.gamecard__image(src=popularGames[n].image)
                //- Overlay Text
                div.gamecard__text-container
                  .gamecard__game-title= popularGames[n].title
                  //- Placeholder for div mini form
                  .gamecard__dropdown-container
                    .gamecard__dropdown-form
                      form(action="/user/reviews", method="post") 
                        select(name="played") (type="select", name="")
                          option(value="1") Want to Play
                          option(value="2") Playing
                          option(value="3") Played
                    //- Rating Box using likesCount
                    .gamecard__rating-box
                      .gamecard__rating= popularGames[n].likesCount

        div
          a.games(href="/categories/1")
            h1.action-games Action & Adventure Games
        div.gameCards
          - for(var n = 0; n < 3; n++)
            div.gamecard__container
              //- Image
              a(href=`${domain}/games/${actionGames[n].id}`)
                img.gamecard__image(src=actionGames[n].image)
              //- Overlay Text
              div.gamecard__text-container
                .gamecard__game-title= actionGames[n].title
                //- Placeholder for div mini form
                .gamecard__dropdown-container
                  .gamecard__dropdown-form
                //- Rating Box using likesCount
                .gamecard__rating-box
                  .gamecard__rating= actionGames[n].likesCount

        div
          a.games(href="/categories/3")
            h1.strategy-games Strategy & RTS Games
        div.gameCards
          - for(var n = 0; n < 3; n++)
            div.gamecard__container
              //- Image
              a(href=`${domain}/games/${strategyGames[n].id}`)
                img.gamecard__image(src=strategyGames[n].image)
              //- Overlay Text
              div.gamecard__text-container
                .gamecard__game-title= strategyGames[n].title
                //- Placeholder for div mini form
                .gamecard__dropdown-container
                  .gamecard__dropdown-form
                //- Rating Box using likesCount
                .gamecard__rating-box
                  .gamecard__rating= strategyGames[n].likesCount

        div
          a.games(href="/categories/5")
            h1.casual-games Casual & Simulation Games
        div.gameCards
          - for(var n = 0; n < 3; n++)
            div.gamecard__container
              //- Image
              a(href=`${domain}/games/${casualGames[n].id}`)
                img.gamecard__image(src=casualGames[n].image)
              //- Overlay Text
              div.gamecard__text-container
                .gamecard__game-title= casualGames[n].title
                //- Placeholder for div mini form
                .gamecard__dropdown-container
                  .gamecard__dropdown-form
                //- Rating Box using likesCount
                .gamecard__rating-box
                  .gamecard__rating= casualGames[n].likesCount

        //- COMMENTING OUT SPORTS DUE TO MISSING SEED DATA FOR NOW

        //- a.games(href="/categories/4")
        //-   h1 Sports & Racing Games
        //- div.racing-games
        //-       - for(var n = 0; n < 3; n++)
        //-         div.gamecard__container
        //-           //- Image
        //-           img.gamecard__image(src=sportsGames[n].image)
        //-           //- Overlay Text
        //-           div.gamecard__text-container
        //-             .gamecard__game-title= sportsGames[n].title
        //-             //- Placeholder for div mini form
        //-             .gamecard__dropdown-container
        //-               .gamecard__dropdown-form
        //-             //- Rating Box using likesCount
        //-             .gamecard__rating-box
        //-               .gamecard__rating= sportsGames[n].likesCount

        div
          a.games(href="/categories/2")
            h1.mmo-games MMO & RPG Games
        div.gameCards
          - for(var n = 0; n < 3; n++)
            div.gamecard__container
              //- Image
              a(href=`${domain}/games/${mmoGames[n].id}`)
                img.gamecard__image(src=mmoGames[n].image)
              //- Overlay Text
              div.gamecard__text-container
                .gamecard__game-title= mmoGames[n].title
                //- Placeholder for div mini form
                .gamecard__dropdown-container
                  .gamecard__dropdown-form
                //- Rating Box using likesCount
                .gamecard__rating-box
                  .gamecard__rating= mmoGames[n].likesCount

      div.categories
        h1 Category Links
        div
          div.other-categories
            a(href='/categories/1') Action & Adventure
          div.other-categories
            a(href='/categories/2') RPG & MMO
          div.other-categories
            a(href='/categories/3') Strategy & RTS
          div.other-categories
            a(href='/categories/4') Sports & Racing
          div.other-categories
            a(href='/categories/5') Casual & Simulation
